.video-container {
    position: relative;
    width: 70%; /* Ancho del contenedor */
    margin: auto; /* Centrar horizontalmente */
    margin-top: 17vh;
    text-align: center; /* Centrar contenido dentro del contenedor */
  }
  
  .video-container iframe {
    display: inline-block; /* Permitir centrado horizontal */
    vertical-align: middle; /* Centrar verticalmente */
    max-width: 100%; /* Ancho máximo del iframe */
  }
  
  